@font-face{
   font-family: 'Jalnan';
   src: url('./Jalnan.ttf') format('truetype');
}

.title{
   background-color: #fae100;
   color: #371d1e;
   width: 200px;
   height: 50px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 200px;
   font-family: 'Jalnan';
}

#connection-form{
   margin-bottom: 20px;
}

#morsecodetable {
   position: fixed;
   right: 30px;
   top: 50px;
   width: 560px;
   height: 400px;
   display: none;
}

hr {
   text-align: left;
   margin-left: 0;
   width: 1000px;
}

.chatWindow {
   margin-top: 20px;
   border-style: hidden;
   border-radius: 10px;
   background-color: #9bbbd4;
   width: 600px;
   padding: 10px;
   padding-left: 15px;
   padding-right: 15px;
   overflow: hidden;
   overflow-wrap: break-word;
}

.switch {
   position: relative;
   /* 상대 위치 지정 */
   background-color: white;
   /* 배경 색상 */
   color: black;
   /* 텍스트 색상 */
   padding: 12px;
   /* 안쪽 여백 */
   border-radius: 10px;
   /* 테두리의 모서리를 둥글게 */
   max-width: 200px;
   /* 최대 너비 */
   margin-bottom: 20px;
   font-size: 15px;
   float: left;
   clear: both;
   white-space: pre-wrap;
}

.switch::before {
   content: '';
   /* 가상 요소의 내용 없음 */
   position: absolute;
   /* 절대 위치 지정 */
   top: 50%;
   /* 말풍선 상단에서 가운데로 이동 */
   right: 100%;
   /* 말풍선의 왼쪽에 위치 */
   border-width: 10px 10px 0px 0px;
   /* 위, 오른쪽, 아래, 왼쪽 순서로 border-width 설정 */
   border-style: solid;
   /* 실선으로 설정 */
   border-color: transparent white transparent transparent;
   /* 삼각형의 색상 및 투명도 */
   border-radius: 10px 0 0 10px;
   /* 꼬리 부분의 테두리 둥글기 조절 */
   transform: scaleY(-1);
   /* Y축 방향으로 뒤집기 */
}

.cds {
   position: relative;
   /* 상대 위치 지정 */
   background-color: white;
   /* 배경 색상 */
   color: black;
   /* 텍스트 색상 */
   padding: 12px;
   /* 안쪽 여백 */
   border-radius: 10px;
   /* 테두리의 모서리를 둥글게 */
   max-width: 200px;
   /* 최대 너비 */
   margin-bottom: 20px;
   font-size: 15px;
   float: right;
   /* X축 방향으로 뒤집기 */
   clear: both;
   background-color: #fef01b;
}

.cds::before {
   content: '';
   /* 가상 요소의 내용 없음 */
   position: absolute;
   /* 절대 위치 지정 */
   top: 50%;
   /* 말풍선 상단에서 가운데로 이동 */
   border-width: 10px 10px 0px 0px;
   /* 위, 오른쪽, 아래, 왼쪽 순서로 border-width 설정 */
   border-style: solid;
   /* 실선으로 설정 */
   border-color: transparent white transparent transparent;
   /* 삼각형의 색상 및 투명도 */
   border-radius: 10px 0 0 10px;
   /* 꼬리 부분의 테두리 둥글기 조절 */
   transform: scaleY(-1);
   /* Y축 방향으로 뒤집기 */
   left: 100%;
   /* 말풍선의 오른쪽에 위치 */
   border-color: #fef01b transparent transparent transparent;
   /* 삼각형의 색상 및 투명도 */
   border-radius: 0px 10px 10px 0;
   /* 꼬리 부분의 테두리 둥글기 조절 */
   transform: scaleZ(-1);
}