<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>전화번호 관리</title>
	<link href="/static/mystyle.css" type="text/css" rel="stylesheet">
</head>
<body>
<h3>전화번호 관리</h3>
{% print(msg) %}
<hr>
<form action="/store" method="get" autocomplete="off">
        <h3>저장</h3>
        이름과 전화 번호를 입력하고 저장 버튼을 누르세요
        <br><br>
        이름 <input type="text" name="name">
        전화번호  <input type="text" name="tel" {% print(value) %}>
        <input type="submit" value="저장">
</form>
<hr>
<form action="/search" method="post">
        <h3>검색</h3>
        이름과 전화 번호를 입력하고 검색 버튼을 누르세요
        <br><br>
        이름 <input type="text" name="name">
        전화번호 <input type="text" name="tel">
        <input type="submit" value="검색">
</form>
<hr>
<form action="/view" method="get">
        <h3>전체 보기</h3>
        보기버튼을 누르면 전화번호 전체가 출력됩니다.
        <br><br>
        <button>전화번호 전체보기</button>
</form>
<hr>
<form action="/init">
        <h3>초기화</h3>
        초기화 버튼을 누르면 전화번호부에 기록된 내용이 전부 삭제됩니다.
        <br><br>
        <button>초기화</button>
</form>
</body>
</html>

